{% extends "base.html" %}
{% load static %}
{% block content1 %}
<div class="row">
    <div class="jumbtron jumbtron-fluid mt-2">
        <h1 class="display4"> CISCO - CCNA Module 1 and 2  </h1>
    </div>

    <div class="jumbtron jumbtron-fluid mt-2">
        <h1 class="display4"> Python Essentials 1 and 2 </h1>

    </div>
    <div class="jumbtron jumbtron-fluid mt-2">
        <h1 class="display4">Geeks for Geeks full Stack Web Development </h1>
        
    </div>
    <div class="jumbtron jumbtron-fluid mt-2">
        <h1 class="display4">Edx Relational Database Course </h1>
        
    </div>
    <div class="jumbtron jumbtron-fluid mt-2">
        <h1 class="display4">Udemy Full Stack Web Development </h1>
        
    </div>


</div>


{% endblock content1 %}